# Python
__pycache__/
*.py[cod]
*$py.class
venv/
.env
.env.local
.env.production

# Data and Models
data/
*.csv
*.cbm
*.pkl

# IDEs
.vscode/
.idea/

# Mac
.DS_Store


# ML модели (большие бинарные файлы)
models/*.cbm
models/*.pkl
models/*.bin


/scripts
